* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
} */

.centre{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.centre button {
   padding: 10px 20px;
   font-size: 15px;
   font-weight: 600;
   color: #222;
   background: #f5f5f5;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: 5px;

}
.popup{
   position: absolute;
   top: -150%;
   left: 50%;
   opacity: 0;
   transform: translate(-50%,-50%) scale(1.25);
   width: 380px;
   padding: 20px 30px;
   background: #fff;
   box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
   border-radius: 10px;
   transition: top 0ms ease-in-out 200ms,
               opacity 200ms ease-in-out 0ms,
               transform 20ms ease-in-out 0ms;
}
.popup.active {
   top:50%;
   opacity: 1;
   transform: translate(-50%,-50%) scale(1);
   transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}
.popup .close-btn{
   position: absolute;
   top: 10%;
   right: 10%;
   height: 15px;
   width: 15px;
   background: #888;
   color: #eee;
   text-align: center;
   line-height: 15px;
   border-radius: 15px;
   cursor: pointer;  
}
.popup .form h2{
   text-align: center;
   color: #222;
   margin: 10px 0px 20px;
   font-size: 25px;
}
.popup .form .form-element{
   margin: 15px 0px;
}
.popup .form .form-element label{
   font-size:14px;
   color:#222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
   margin-top: 5px;
   display:block;
   width: 100%;
   padding: 10px;
   outline: none;
   border: 1px solid #aaa;
   border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"]{
   margin-right: 5px;
}
.popup .form .form-element button{
   width: 100px;
   height: 40px;
   border: none;
   outline: none;
   font-size: 16px;
   background: #222;
   color: #f5f5f5;
   border-radius: 10px;
   cursor: pointer;
} 
.popup .form .form-element a{
   
   display: block;
   text-align: right;
   font-size: 15px;
   color: #1a79ca;
   text-decoration: none;
   font-weight: 600;
}







.carousel-inner{
    height: 993px;
}

.item, img{
   height: 80% !important;
   width:  22% !important;
  
}
/* #navbar-brand {
   height: 6% !important;
   width: 17% !important;
} */
.w-100 {
   width: 100%!important;
}
.icon{
   display: flex;
   list-style: none;
  /* width: 50px; */
  /* height: 50px; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background: #FDD835; */
  /* border-radius: 50%; */
  margin: 0 ;
  cursor: pointer;
}

.containerr{
   width :889px;
   height: 538px;
   /* padding: 89px; */
   border-radius: 89px;
   margin-top: 58px;
   margin-left: 220px;
   margin-bottom: 50px;
   background-color:  #000000;
   /* border-color: #1a79ca; */
   border-radius: 89px;
}







section .imgbox .text{
   width: 10vh;
   height: 10vh;
   display: grid;
   place-items: center;
   padding-left: 400px;
}
section .imgbox .text h1{
   position: relative;
   /* text-align: center ; */
   margin-top: 0px;
   /* margin-left: 1100px; */
   color: #000080 ;
   /* font-family: 'lobster',cursive; */ 
   font-size: 4rem;
   /* font-weight: bold; */
 
  }
  section .imgbox .text h1::before{
   content: "~HELPIFYY~";
   width: 50%;
   color:#ffc107;
   position: absolute;
   top: 0;
   left: 0;
   border-right: 0.4rem solid #ffc107;
   animation: slide 3s linear infinite;
   -webkit-animation: slide 3s linear infinite;
   overflow: hidden;
  }
   @keyframes slide {
   0% {
       width: 0%;}
   50% {
       width: 100%;}
   100% {
       width: 50%;}
  }
  .centre a{
   /* display: flex; */
   height: 30px;
   width: 80px;
   background: linear-gradient(#9365ff,#6f3bff);
   position: absolute;
   margin: auto;
   padding-left: 7px;
   
   padding-top: 2px;
   /* padding: 7px; */
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   place-items: center;
   font-family: "poppins",sans-serif;
   color: #fff;
   font-weight: 500;
   text-decoration: none;
   letter-spacing: 3px;
   border-radius: 5px ;





  }